
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Escalate</title>
</head>
<body>
<div>
    @ViewBag.EscalateResultMessage
</div>
</body>
</html>




