<div class="row">
    <div class="col-sm-12">
        <h2>Not Found</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 alert alert-info">
        The requested page does not exist.
    </div>
</div>
