<div class="row">
    <div class="col-sm-12">
        <h2>Error</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 alert alert-warning">
        An unexpected error has occurred.
    </div>
</div>
