<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- 
    See http://nlog-project.org/wiki/Configuration_file 
    for information on customizing logging rules and outputs.
    -->
    <targets>
      <!-- add your targets here -->
      <target name="primaryLog" xsi:type="File" fileName="${basedir}/Tests.log" archiveEvery="Day" archiveFileName="${basedir}/Tests.{#####}.log" archiveNumbering="Sequence" maxArchiveFiles="10" layout="${longdate:universalTime=true}|${uppercase:${level}}|[${threadid}]|${callsite:className=true:methodName=true}:${message}" />

      <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    </targets>

    <rules>
      <!-- add your logging rules here -->
      <!--     ORDER IS IMPORTANT      -->
<!--      <logger name="*" minlevel="Trace" writeTo="primaryLog" />-->

    </rules>
  </nlog>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
