@using DeadManSwitch.UI.Web.AspNetMvc.Extensions

<div class="row">
    <div class="col-sm-10">
        <h2>Periodic CheckIn</h2>
    </div>
    @if (Request.IsAuthenticated)
    {
        <div class="col-sm-2">
            <br/>
            <p>@Html.CheckInLink("Check In Now", new { @class="btn btn-primary btn-large"})
            </p>
        </div>
    }
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>How it works</h3>
        Periodic CheckIn is an electronic dead man's switch that will send out alerts, to recipients you specify, if you don't check in.
        <ul>
            <li>text your spouse if you're stuck at work and will be home later than usual</li>
            <li>text your roommate to wake you up if you oversleep</li>
        </ul>
    </div>
    <div class="col-sm-5">
        <h3>Define Alerts</h3>
        <p>Periodic CheckIn currently allows you to setup text and email alerts to the numbers or addresses you specify.</p>
    </div>
    <div class="col-sm-5 col-sm-offset-2">
        <h3>Create Schedules</h3>
        <p>Setup scheduled windows of time when you need expect to check in. If you don't check in, Periodic CheckIn will start sending out alerts.</p>
    </div>
</div>
