@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Periodic CheckIn</h1>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Check In Now</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How it works</h2>
        Periodic CheckIn is an electronic dead man's switch that will send out alerts, to recipients you specify, if you don't check in.
        <ul>
            <li>text your spouse if you're stuck at work and will be home later than usual</li>
            <li>text your roommate to wake you up if you oversleep</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Define Alerts</h2>
        <p>Periodic CheckIn currently allows you to setup text and email alerts to the numbers or addresses you specify.</p>
    </div>
    <div class="col-md-4">
        <h2>Create Schedules</h2>
        <p>Setup scheduled windows of time when you need expect to check in. If you don't check in, Periodic CheckIn will start sending out alerts.</p>
    </div>
</div>
<p>
    <br />
    <br />
    Periodic CheckIn should not be used for emergency, medical, or other similar situations.
</p>
