<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <clear />
    <add name="DeadManSwitchEntities" connectionString="metadata=res://*/DeadManSwitchDataModel.csdl|res://*/DeadManSwitchDataModel.ssdl|res://*/DeadManSwitchDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\Projects;initial catalog=DeadManSwitch;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="ApplicationName" value="Periodic CheckIn" />
    <add key="InProcessServicesEnabled" value="false" />

    <!-- Only used when InProcessServicesEnabled=false-->
    <add key="OutOfProcessServicesAdaptersAssembly" value="DeadManSwitch.Service.Wcf.Proxy.dll" />
    <!-- Only used when InProcessServicesEnabled=false-->

    <!-- Only used when InProcessServicesEnabled=true-->
    <add key="AllowOutgoingMessages" value="false" />
    <add key="ExternalServiceFileOutputRedirect" value="~/Logs" />

    <add key="SMSGatewayAccountId" value="abcd" />
    <add key="SMSGatewayAccountToken" value="1234" />

    <add key="TraceEFSql" value="true" />
    <add key="UseUnitTestRepository" value="false" />
    <!-- Only used when InProcessServicesEnabled=true-->

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="20" defaultUrl="~/" slidingExpiration="true" />
    </authentication>

    <customErrors defaultRedirect="~/Errors/ApplicationError.aspx" mode="On">
      <error statusCode="404" redirect="~/Errors/PageNotFound.aspx" />
    </customErrors>
    
    <sessionState mode="InProc" timeout="20" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

<!--  <system.diagnostics>-->
<!--    <sources>-->
<!--      <source name="System.ServiceModel"-->
<!--              switchValue="Information, ActivityTracing"-->
<!--              propagateActivity="true">-->
<!--        <listeners>-->
<!--          <add name="traceListener"-->
<!--              type="System.Diagnostics.XmlWriterTraceListener"-->
<!--              initializeData= ".\Logs\WcfTrace.svclog" />-->
<!--        </listeners>-->
<!--      </source>-->
<!--    </sources>-->
<!--  </system.diagnostics>-->

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <!-- <network host="relay-hosting.secureserver.net" port="25" defaultCredentials="true" /> -->
        <network defaultCredentials="false" userName="" password="" host="localhost" port="25" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAccountService" />
        <binding name="BasicHttpBinding_ICheckInService" />
        <binding name="BasicHttpBinding_IScheduleService" />
        <binding name="BasicHttpBinding_IActionService" />
        <binding name="BasicHttpBinding_IEscalationService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1659/AccountService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService"
          contract="AccountService.IAccountService" name="BasicHttpBinding_IAccountService" />
      <endpoint address="http://localhost:1659/CheckInService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICheckInService"
          contract="CheckInService.ICheckInService" name="BasicHttpBinding_ICheckInService" />
      <endpoint address="http://localhost:1659/ScheduleService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IScheduleService"
          contract="ScheduleService.IScheduleService" name="BasicHttpBinding_IScheduleService" />
      <endpoint address="http://localhost:1659/ActionService.svc" 
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActionService" 
          contract="ActionService.IActionService" name="BasicHttpBinding_IActionService" />
      <endpoint address="http://localhost:1659/EscalationService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEscalationService"
          contract="EscalationService.IEscalationService" name="BasicHttpBinding_IEscalationService" />
    </client>
  </system.serviceModel>
</configuration>