<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccountService"/>
                <binding name="BasicHttpBinding_IActionService"/>
                <binding name="BasicHttpBinding_ICheckInService"/>
                <binding name="BasicHttpBinding_IEscalationService"/>
                <binding name="BasicHttpBinding_IScheduleService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1659/AccountService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService" contract="AccountService.IAccountService" name="BasicHttpBinding_IAccountService"/>
            <endpoint address="http://localhost:1659/ActionService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActionService" contract="ActionService.IActionService" name="BasicHttpBinding_IActionService"/>
            <endpoint address="http://localhost:1659/CheckInService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICheckInService" contract="CheckInService.ICheckInService" name="BasicHttpBinding_ICheckInService"/>
            <endpoint address="http://localhost:1659/EscalationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEscalationService" contract="EscalationService.IEscalationService" name="BasicHttpBinding_IEscalationService"/>
            <endpoint address="http://localhost:1659/ScheduleService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IScheduleService" contract="ScheduleService.IScheduleService" name="BasicHttpBinding_IScheduleService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
