<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target name="primaryLog" xsi:type="AsyncWrapper">
      <target name="logfile" xsi:type="File" fileName="${basedir}/Logs/${shortdate:universalTime=true}.log"
              layout="${longdate:universalTime=true}|${uppercase:${level}}|[${threadid}]|${callsite:className=true:methodName=true}:${message}"/>
    </target>

    <target name="taskLog" xsi:type="AsyncWrapper">
      <target name="logfile" xsi:type="File" fileName="${basedir}/Logs/${shortdate:universalTime=true}.tasks.log"
              layout="${longdate:universalTime=true}|${uppercase:${level}}|[${threadid}]|${callsite:className=true:methodName=true}:${message}"/>
    </target>

    <target name="sqlLog" xsi:type="AsyncWrapper">
      <target name="sqlTraceFile" xsi:type="File" fileName="${basedir}/Logs/${shortdate:universalTime=true}.sqltrace.log"
            layout="${longdate:universalTime=true}|${uppercase:${level}}|[${threadid}]|${callsite:className=true:methodName=true}:${message}">
      </target>
    </target>

    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <!--     ORDER IS IMPORTANT      -->
    <logger name="*" minlevel="Error" writeTo="sqlLog">
      <filters>
        <whenContains layout="${callsite}" substring="DeadManSwitch.Data.SqlRepository" action="LogFinal" />
        <whenNotContains layout="${callsite}" substring="DeadManSwitch.Data.SqlRepository" action="Ignore" />
      </filters>
    </logger>

    <logger name="*" minlevel="Trace" writeTo="taskLog">
      <filters>
        <whenContains layout="${callsite}" substring="DeadManSwitch.UI.Web.AspNet.Tasks" action="LogFinal" />
        <whenNotContains layout="${callsite}" substring="DeadManSwitch.UI.Web.AspNet.Tasks" action="Ignore" />
      </filters>
    </logger>

    <logger name="*" minlevel="Trace" writeTo="primaryLog" />

    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>
