<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.0" targetFramework="net45" />
  <package id="Clutch" version="1.0.5302.28611" targetFramework="net45" />
  <package id="Clutch.Diagnostics.EntityFramework" version="1.0.5302.28614" targetFramework="net45" />
  <package id="NLog" version="3.2.0.0" targetFramework="net45" />
  <package id="NLog.Schema" version="3.2.0.0" targetFramework="net45" />
  <package id="SlowCheetah" version="2.5.14" targetFramework="net45" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net45" />
</packages>